h1 {
  font-size: 2.25rem;
  color: var(--white);
  line-height: 1.11;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.11;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}

h2,
h3 {
  color: var(--navy-blue);
}
