.error-message {
  position: absolute;
  left: 0;
  top: 102%;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--red);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);

  transition:
    opacity var(--transition-duration) var(--timing-function),
    transform var(--transition-duration) var(--timing-function),
    visibility var(--transition-duration) var(--timing-function);
}

.error-message.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.is-invalid {
  border-color: var(--red);
}
