<header class="header-section" id="header">
  <div class="container">
    <a href="./index.html" class="logo"
      ><span class="iris-accent">Web</span>Studio</a
    >

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="#features" class="header-nav-link active">Features</a>
        </li>
        <li>
          <a href="#team" class="header-nav-link">Team</a>
        </li>
        <li>
          <a href="#portfolio" class="header-nav-link">Portfolio</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li>
          <a href="mailto:info@devstudio.com" class="header-contact-link"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a href="tel:+110001111111" class="header-contact-link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button class="header-burger-menu" type="button">
      <svg class="header-mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
