<section class="portfolio-section section" id="portfolio">
  <div class="container">
    <h2>Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-1.avif    1x,
                ./img/portfolio/avif/portfolio-1-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-1.webp    1x,
                ./img/portfolio/webp/portfolio-1-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-1.jpg"
              srcset="
                ./img/portfolio/portfolio-1.jpg    1x,
                ./img/portfolio/portfolio-1-x2.jpg 2x
              "
              alt="Banking App"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>

          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Banking App</h3>
          <p>App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-2.avif    1x,
                ./img/portfolio/avif/portfolio-2-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-2.webp    1x,
                ./img/portfolio/webp/portfolio-2-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-2.jpg"
              srcset="
                ./img/portfolio/portfolio-2.jpg    1x,
                ./img/portfolio/portfolio-2-x2.jpg 2x
              "
              alt="Cashless Payment"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>

          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Cashless Payment</h3>
          <p>Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-3.avif    1x,
                ./img/portfolio/avif/portfolio-3-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-3.webp    1x,
                ./img/portfolio/webp/portfolio-3-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-3.jpg"
              srcset="
                ./img/portfolio/portfolio-3.jpg    1x,
                ./img/portfolio/portfolio-3-x2.jpg 2x
              "
              alt="Meditation App"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>

          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Meditation App</h3>
          <p>App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-4.avif    1x,
                ./img/portfolio/avif/portfolio-4-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-4.webp    1x,
                ./img/portfolio/webp/portfolio-4-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-4.jpg"
              srcset="
                ./img/portfolio/portfolio-4.jpg    1x,
                ./img/portfolio/portfolio-4-x2.jpg 2x
              "
              alt="Taxi Service"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>

          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Taxi Service</h3>
          <p>Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-5.avif    1x,
                ./img/portfolio/avif/portfolio-5-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-5.webp    1x,
                ./img/portfolio/webp/portfolio-5-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-5.jpg"
              srcset="
                ./img/portfolio/portfolio-5.jpg    1x,
                ./img/portfolio/portfolio-5-x2.jpg 2x
              "
              alt="Screen Illustrations"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>

          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Screen Illustrations</h3>
          <p>Design</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-image-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./img/portfolio/avif/portfolio-6.avif    1x,
                ./img/portfolio/avif/portfolio-6-x2.avif 2x
              "
            />

            <source
              type="image/webp"
              srcset="
                ./img/portfolio/webp/portfolio-6.webp    1x,
                ./img/portfolio/webp/portfolio-6-x2.webp 2x
              "
            />

            <img
              src="./img/portfolio/portfolio-6.jpg"
              srcset="
                ./img/portfolio/portfolio-6.jpg    1x,
                ./img/portfolio/portfolio-6-x2.jpg 2x
              "
              alt="Online Courses"
              width="288"
              height="240"
              class="portfolio-item-img"
              loading="lazy"
            />
          </picture>
          <div class="portfolio-overlay">
            <p>
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3>Online Courses</h3>
          <p>Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
